.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #cde8f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #1a35e6;
}
.error-message {
  color: red;
}
